<article class="note">
  <% if format == 'short' %>
    <p><a href="/notes/<%= note.slug %>"><%= note.title %></a> <span class="post_date">by <a href="/users/<%= note.user.slug %>"><%= note.user.username %></a> on <%= note.created_at.strftime("%B %d, %Y") %>  | <a href="/teas/<%= note.tea.slug %>"><%= note.tea.name %></a> tea</span></p>
  <% else %>
    <h1><a href="/notes/<%= note.slug %>"><%= note.title %></a></h1>
    <% if note.content.length > 200 %>
      <%= note.content[0..200] + "..." %>
    <% else %>
      <%= note.content %>
    <% end %>
    <p class="post_date">Posted 
      <% if format != 'author' %>
        by <a href="/users/<%= note.user.slug %>"><%= note.user.username %></a>
      <% end %>
      on <%= note.created_at.strftime("%B %d, %Y") %></p>
  <% end %>

</article>