<article class="note">
  <% if format == 'short' %>
    <p><a href="/notes/<%= note.slug %>"><%= note.title %></a><br />
    <span class="post-date text-muted">by <a href="/users/<%= note.user.slug %>"><%= note.user.username %></a> on <%= note.created_at.strftime("%B %d, %Y") %> &nbsp;|&nbsp; Tea: <a href="/teas/<%= note.tea.slug %>"><%= note.tea.name %></a></span></p>
  <% else %>
    <h1><a href="/notes/<%= note.slug %>"><%= note.title %></a>
    <% if @note.rating %><small class="text-muted"> | Rating: <%=@note.rating%> / 5</small><% end %>
    </h1>
    <p class="tea-name text-muted">
      Tea: <a href="/teas/<%= note.tea.slug %>"><%= note.tea.name %></a>
      <% if @note.tea.shop %>
        &nbsp;|&nbsp; Shop: 
        <a href="/shops/<%= @note.tea.shop.slug %>"><%= @note.tea.shop.name %></a>
      <% end %>
    </p>
    <% if format != 'detail' && note.content.length > 200 %>
      <%= note.content[0..200] + "..." %>
    <% else %>    
      <%= note.content %>
    <% end %>
    <p class="post-date text-muted">Posted 
      <% if format != 'detail' %>
        by <a href="/users/<%= note.user.slug %>"><%= note.user.username %></a>
      <% end %>
      on <%= note.created_at.strftime("%B %d, %Y") %>
      </p>
  <% end %>

</article>