<% if flash.has?(:message) %>
  <ul class=<%= flash[:type] %>>
    <% flash[:message].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<section>
  <h1><%=@note.title%></h1>
  <p class="post_date">Posted by <a href="/users/<%= @note.user.slug %>"><%= @note.user.username %></a> on <%= @note.created_at.strftime("%B %d, %Y") %></p>

  <p><%=@note.content%></p>

  <% if !@note.shops.empty? %>
  <h2>Find this tea at the following shops</h2>
    <ul>
    <% @note.shops.each do |shop| %>
      <li><a href="/shops/<%= shop.slug %>"><%= shop.name %></a></li>
    <% end %>
    </ul>
  <% end %>
</section>

<hr>
<% if own_post?(@note) %>
  <section>
    <a href="/notes/<%=@note.slug%>/edit">Edit Note</a>
    
    <form method="post" action="/notes/<%= @note.slug %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Note">
    </form>
  </section>
<% end %>