<% if logged_in? %>
  <%= erb :'/users/_user_links', locals: {current_user: current_user} %>
<% end %>

<%= erb :'/_messages', locals: {flash: flash} %>

<section>
  <h1>Tasting Notes</h1>

  <%= erb :'/notes/_note', locals: {note: @note, format: 'detail'} %>

  <% if own_post?(@note) %>
    <section class="edit-entry col nav">
      <a href="/notes/<%=@note.slug%>/edit"  class="btn btn-secondary">Edit Note</a></li>
      <form method="post" action="/notes/<%= @note.slug %>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Note"  class="btn btn-secondary">
      </form>
    </section>
  <% end %>
</section>