<h1><%=@note.title%></h1>
<p class="post_date">Posted by <a href="/users/<%= @note.user.slug %>"><%= @note.user.username %></a> on <%= @note.created_at.strftime("%B %d, %Y") %></p>

<% if flash.has?(:message) %>
this is a message
  <ul class=<%= flash[:type] %>>
    <% flash[:message].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<p>
  Tea: <a href="/teas/<%= @note.tea.slug %>"><%= @note.tea.name %></a>
  <% if @note.tea.shop %>
    (Sold by: <a href="/shops/<%= @note.tea.shop.slug %>"><%= @note.tea.shop.name %></a>)
  <% end %>
</p>

<% if @note.rating %><p>Rating: <%=@note.rating%> / 5</p><% end %>

<p><%=@note.content%></p>



<hr>
<% if own_post?(@note) %>
  <section>
    <a href="/notes/<%=@note.slug%>/edit">Edit Note</a>
    
    <form method="post" action="/notes/<%= @note.slug %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Note">
    </form>
  </section>
<% end %>