<h1>All Shops</h1>

<%= erb :'/_messages', locals: {flash: flash} %>

<% @shops.each do |shop| %>
<article class="shop">
  <h1><a href="/shops/<%= shop.slug %>"><%= shop.name %></a></h1>
  <p><a href="<%=shop.url%>"><%=shop.url%></a></p>
  <%= shop.description %>
</article>
<% end %>