<% if logged_in? %>
  <%= erb :'/users/_user_links', locals: {current_user: current_user} %>
<% end %>

<h1>All Shops</h1>

<%= erb :'/_messages', locals: {flash: flash} %>

<% @shops.each do |shop| %>
<article class="shop">
  <h1><a href="/shops/<%= shop.slug %>"><%= shop.name %></a>
  <% if shop.url && !shop.url.empty? %>
    <small class="text-muted"> | <a href="<%=shop.url%>"><%=shop.url%></a></small>
  <% end %>
  </h1>
  <%= shop.description %>
</article>
<% end %>