<% if logged_in? %>
  <%= erb :'/users/_user_links', locals: {current_user: current_user} %>
<% end %>

<%= erb :'/_messages', locals: {flash: flash} %>

<section>
  <h1>Shop: <%=@shop.name%></h1>
  <article class="shop">
  <p><%=@shop.description%></p>
  <% if @shop.url && !@shop.url.empty? %>
  <p>URL: <a class="text-muted" href="<%=@shop.url%>"><%=@shop.url%></a></p>
  <% end %>
  </article>
</section>

<section>
  <% if !@shop.teas.empty? %>
    <h2>Teas in this shop:</h2>
    <% @shop.teas.each do |tea| %>
      <%= erb :'/teas/_tea', locals: {tea: tea, format: 'short'} %>
    <% end %>
  <% end %>

  <% if !@shop.notes.empty? %>
    <h2>Tasting Notes in this Shop:</h2>
    <% @shop.notes.each do |note| %>
      <%= erb :'/notes/_note', locals: {note: note, format: 'short'} %>
    <% end %>
  <% end %>

  <section class="edit-entry col nav">
    <a href="/shops/<%=@shop.slug%>/edit" class="btn btn-secondary">Edit shop</a>
    <form method="post" action="/shops/<%= @shop.slug %>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete shop" class="btn btn-secondary">
    </form>
  </section>

</section>