<% if flash.has?(:message) %>
  <ul class=<%= flash[:type] %>>
    <% flash[:message].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<section>
  <h1><%=@shop.name%></h1>
  <p><a href="<%=@shop.url%>"><%=@shop.url%></a></p>
  <p><%=@shop.description%></p>

  <% if !@shop.notes.empty? %>
  <h2>This shop has the following notes</h2>
    <ul>
    <% @shop.notes.each do |note| %>
      <li><a href="/notes/<%= note.slug %>"><%= note.title %></a></li>
    <% end %>
    </ul>
  <% end %>


</section>

<hr>
<section>
	<a href="/shops/<%=@shop.slug%>/edit">Edit shop</a>
	<form method="post" action="/shops/<%= @shop.slug %>/delete">
		<input id="hidden" type="hidden" name="_method" value="DELETE">
		<input type="submit" value="Delete shop">
	</form>
</section>