<article class="tea">
  <% if format == 'short' %>
    <p><a href="/teas/<%= tea.slug %>"><%= tea.name %></a> in 
    <span class="details"><a href="/teas/category/<%= clean(tea.category) %>"><%= tea.category %></a>
    <% if tea.region %>
      | Region: <a href="/teas/region/<%= clean(tea.region) %>"><%= tea.region %></a>
    <% end %>
    <% if tea.country %>
      | Country: <a href="/teas/country/<%= clean(tea.country) %>"><%= tea.country %></a>
    <% end %>
    <% if tea.shop %>
      | <a href="/shops/<%= tea.shop.slug %>"><%= tea.shop.name %></a></li>
    <% end %>
    </span></p>
  <% else %>
    <h1><a href="/teas/<%= tea.slug %>"><%= tea.name %></a></h1>
    <p><a href="/teas/category/<%= clean(tea.category) %>"><%= tea.category %></a></p>
    <% if tea.description.length > 200 %>
      <%= tea.description[0..200] + "..." %>
    <% else %>
      <%= tea.description %>
    <% end %>
    <% if tea.url %>
      <p>Buy now: <a href="<%= tea.url %>"><%= tea.url %></a></p>
    <% end %>
    <h2>Find more teas by:</h2>
    <ul class="details">
      <% if tea.region %>
        <li>Region: <a href="/teas/region/<%= clean(tea.region) %>"><%= tea.region %></a></li>
      <% end %>
      <% if tea.country %>
        <li>Country: <a href="/teas/country/<%= clean(tea.country) %>"><%= tea.country %></a></li>
      <% end %>
      <% if tea.shop %>
        <li>Shop: <a href="/shops/<%= tea.shop.slug %>"><%= tea.shop.name %></a></li>
      <% end %>
    </ul>
  <% end %>
</article>