<h1>Edit Tea</h1>

<%= erb :'/_messages', locals: {flash: flash} %>

<form action="/teas/<%= @tea.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <label for="name">Name:*</label>
    <input type="text" name="tea[name]" id="name" value="<%= @tea.name %>" required>
  </p>
  <p>
    <label for="tea[category]">Category:</label>
    <select name="tea[category]">
      <% @categories.each do |category| %>
        <option value="<%= category.category %>" <%='selected' if @tea.category == category.category %>><%= category.category.capitalize %></option>
      <% end %>
    </select>
  </p>
  <p>
    <label for="url">URL:</label>
    <input type="text" name="tea[url]" id="url" value="<%= @tea.url %>">
  </p>
  <p>
    <label for="country">Region:</label>
    <input type="text" name="tea[region]" id="region" value="<%= @tea.region %>" >
  </p>
  <p>
    <label for="country">Country:</label>
    <input type="text" name="tea[country]" id="country" value="<%= @tea.country %>">
  </p> 
  <p>
    <label for="description">Description:*</label>
    <textarea rows="10" cols="50" name="tea[description]" id="description" required><%= @tea.description %></textarea>
  </p>

  <fieldset>
    <legend>Shops</legend>
    <label for="tea[shop_id]">Shop Name:</label>
    <select name="tea[shop_id]">
      <option value="none">_New</option>
      <% @shops.each do |shop| %>
        <option value="<%= shop.id %>" <%='selected' if @tea.shop == shop %>><%= shop.name %></option>
      <% end %>
    </select>

    <h3>Or create new shop</h3>
    <p>
      <label for="shop[name]">Shop Name:*</label>
      <input type="text" name="shop[name]" id="shop[name]">
    </p>
    <p>
      <label for="shop[url]">Shop URL:</label>
      <input type="text" name="shop[url]" id="shop[url]">
    </p>
    <p>
      <label for="shop[description]">Shop Description:</label>
      <textarea rows="10" cols="50" name="shop[description]" id="shop[description]"></textarea>
    </p>
  </fieldset>

  <input type="submit" name="Update Tea">
</form>