<h1>Edit Tea</h1>

<form action="/teas/<%= @tea.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <label for="name">Name:*</label>
    <input type="text" name="tea[name]" id="name" value="<%= @tea.name %>" required>
  </p>
  <p>
    <label for="tea[category]">Category:</label>
    <select name="tea[category]">
      <% @categories.each do |category| %>
        <option value="<%= category.category %>" <%='selected' if @tea.category == category.category %>><%= category.category.capitalize %></option>
      <% end %>
    </select>
  </p>
  <p>
    <label for="url">URL:</label>
    <input type="text" name="tea[url]" id="url" value="<%= @tea.url %>">
  </p>
  <p>
    <label for="country">Region:</label>
    <input type="text" name="tea[region]" id="region" value="<%= @tea.region %>" >
  </p>
  <p>
    <label for="country">Country:</label>
    <input type="text" name="tea[country]" id="country" value="<%= @tea.country %>">
  </p> 
  <p>
    <label for="description">Description:*</label>
    <textarea rows="10" cols="50" name="tea[description]" id="description" required><%= @tea.description %></textarea>
  </p>

  <fieldset>
    <legend>Shops</legend>
    <% if !@shops.empty? %>
      <label for="tea[shop_id]">Shop Name:</label>
      <select name="tea[shop_id]">
        <% @shops.each do |shop| %>
          <option value="<%= shop.id %>" <%='selected' if @tea.shop == shop %>><%= shop.name %></option>
        <% end %>
      </select>
    <% end %>


    <h3>Or create new shop</h3>
    <p>
      <label for="shop_name">Shop Name:*</label>
      <input type="text" name="shop_name" id="shop_name">
    </p>
    <p>
      <label for="shop_url">Shop URL:</label>
      <input type="text" name="shop_url" id="shop_url">
    </p>
    <p>
      <label for="shop_description">Shop Description:</label>
      <textarea rows="10" cols="50" name="shop_description" id="shop_description"></textarea>
    </p>
  </fieldset>

  <input type="submit" name="Update Tea">
</form>