<% if flash.has?(:message) %>
  <ul class=<%= flash[:type] %>>
    <% flash[:message].each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= erb :'/teas/_tea', locals: {tea: @tea, format: 'long'} %>

<hr>
<section>
  <a href="/teas/<%=@tea.slug%>/edit">Edit tea</a>

  <form method="post" action="/teas/<%= @tea.slug %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete tea">
  </form>
</section>