<h1><%= @user.username %>'s Profile</h1>

<% if logged_in? %>
  <p>Welcome, <%=current_user.name %>! <a href="/notes/new">Create new note</a> | <a href="/logout">Log Out</a></p>
<%end %>

<% if !@user.notes.empty? %>
  <h2><%= @user.username %>'s Notes</h2>
  <% @user.notes.each do |note| %>
  <article class="note">
    <h1><a href="/notes/<%= note.slug %>"><%= note.title %></a></h1>
    <p>      
      <span class="post_date">Posted by <a href="/users/<%= note.user.slug %>"><%= note.user.username %></a> at <%= note.created_at.strftime("%B %d, %Y") %></span>
    </p>
  </article>
  <% end %>
<%end %>