<h1><%= @user.username %>'s Profile</h1>

<%= erb :'/_messages', locals: {flash: flash} %>

<% if logged_in? && current_user == @user %>
  <p>Welcome, <%=@user.username %>!</p>
  <ul>
    <li><a href="/notes/new">Create new note</a></li>
    <li><a href="/users/<%=@user.slug%>/edit">Edit your profile</a></li>
    <li>
      <form method="post" action="/logout">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
      </form>
    </li>
  </ul>
<%end %>

<% if !@user.notes.empty? %>
  <h2><%= @user.username %>'s Notes</h2>
  <% @user.notes.each do |note| %>
    <%= erb :'/notes/_note', locals: {note: note, format: 'author'} %>
  <%end %>
<%end %>