<% if logged_in? %>
  <%= erb :'/users/_user_links', locals: {current_user: current_user} %>
<% end %>

<section>
  <!-- <h1><%= @user.username %>'s Profile</h1> -->

  <%= erb :'/_messages', locals: {flash: flash} %>

  <% if !@user.notes.empty? %>
    <h2>
      <% if @user == current_user %>
        Your
      <% else %>
        <%= @user.username %>'s
      <% end %>
      Tasting Notes</h2>
    <% @user.notes.order(created_at: :desc).each do |note| %>
      <%= erb :'/notes/_note', locals: {note: note, format: 'short'} %>
    <%end %>
  <%end %>
</section>